table{
    width: 600px;
}
td, th{
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}
table, thead {
    background-color: aliceblue;
}
table, tbody {
    background-color: antiquewhite;
}
tbody tr:hover{
    background-color:blueviolet;
}