body{
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

#titulo {
text-align: center;
width: 100%;
height: 5%;
background-color: #ded93e;
border-bottom: 1px solid #ded93e;
}
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	background-color: #FFFFFF;
}
.escolha {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
}
.text {
    color: #0a0a0a;
    text-align: center;
    padding-right: auto;
    padding-top: 110px;
    letter-spacing: 2px;
    margin-top: 0px;
    font-style: oblique;
}