p {
    color: #000;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1{
    color: #000;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

}
